* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: -moz-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 131, 255, 1) 100%);

    background: -webkit-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 131, 255, 1) 100%);

    background: -o-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 131, 255, 1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3183FF', endColorstr='#4CAF50', GradientType=0);

    background: -ms-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 131, 255, 1) 100%);

    background: linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 131, 255, 1) 100%);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

h1 {
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Times New Roman', Times, serif;
}

form {
    background-color: lightseagreen;
    border-radius: 25px;
    padding: 2%;
    width: 100%;
}

label {
    font-size: 1.5em;
    color: white;
    width: 100%;
}

label.form-check-label{
    color: black;
}

input[type="text"] {
    padding: 6px 10px;
}


textarea {
    resize: none;
    width: 100%;
    padding: 6px 10px;
    border-radius: 5px;
    outline-color: blue;
}

input[type="checkbox"] {
    cursor: pointer;
}

button {
    background-color: greenyellow;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

button:hover {
    background-color: green;
    color: white;
}