{% extends "layout.html" %}

{% block content %}

<head>
    <title>Area</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/cssAgregar.css')}}">
</head>

<body>

    <br>
    <center>
        <h1>Area Nueva</h1>
    </center>
    <form action="/AgregarP_Area" method="POST">
        <div class="mb-3">
            <label for="nombreArea" class="form-label">Nombre del Area:</label>
            <input type="text" class="form-control" id="nombreArea" name="nombreArea" placeholder="Ejemplo: Recursos Humanos">
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit">Agregar</button>
        </div>
    </form>

    {% endblock %}
</body>