{% extends "layout.html" %}

{% block content %}

<head>
    <title>Escolaridad</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/cssAgregar.css')}}">
</head>

<body>

    <br>
    <center>
        <h1>Escolaridad Nueva</h1>
    </center>
    <form action="/AgregarP_Escolaridad" method="POST">
        <div class="mb-3">
            <label for="nombreEscolaridad" class="form-label">Nombre de la Escolaridad:</label>
            <input type="text" class="form-control" id="nombreEscolaridad" name="nombreEscolaridad" placeholder="Ejemplo: Preparatoria">
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit">Agregar</button>
        </div>
    </form>

    {% endblock %}
</body>