{% extends "layout.html" %}

{% block content %}

<head>
    <title>Estado Civil</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/cssAgregar.css')}}">
</head>

<body>

    <br>
    <center>
        <h1>Estado Civil Nuevo</h1>
    </center>
    <form action="/AgregarP_EstadoCivil" method="POST">
        <div class="mb-3">
            <label for="nombreEstadoCivil" class="form-label">Nombre del Estado Civil:</label>
            <input type="text" class="form-control" id="nombreEstadoCivil" name="nombreEstadoCivil" placeholder="Ejemplo: Divorciado">
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit">Agregar</button>
        </div>
    </form>

    {% endblock %}
</body>