{% extends "layout.html" %}

{% block content %}

<head>
    <title>Recursos Humanos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/cssAgregar.css')}}">
</head>

<body>
    <center>
        <br>
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='imagenes/xd.gif')}}" class="card-img-top" alt="xd">
            <div class="card-body">
                <p class="card-text">xd</p>
            </div>
        </div>
    </center>
    

    {% endblock %}

</body>